<html lang="se">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css')}}"
        {% block head %}{% endblock %}
    </head>
    <body style="background-color: black; color: white;">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <h1>{{ message }}</h1>
                {% endfor%}
            {% endif %}
        {% endwith %}

        {% block content %}
        {% endblock %}

        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        
        <script type="text/javascript">
            var csrf_token = "{{ csrf_token() }}";
        
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrf_token);
                    }
                }
            });
        </script>

        {% block scripts %}{% endblock %}

        <footer class="page-footer font-small special-color-dark" style="background: darkslategrey;">
            <div class="container-fluid text-center text-md-left">
                <div class="row">
                    <div class="col-xs-12">
                        <h1>Hello world</h1>
                    </div>

                </div>
            </div>
        </footer>
    </body>
</html>