{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h1>Sista steget nurå!</h1>

        <p>
            Innan du laddar upp en bild ska du helst beskära den. Följ dessa anvisningar så borde det gå bra. Du klarar det, jag tror på dig.
            <br><br>
            En tanke du kan ha i huvudet när du beskär är att ENDAST schema delen ska vara med och inte några vita partier till höger, vänster, upp eller ner. Här kommer mer specifika anvisningar:
            <ul>
                <li>Beskär bilden från höger så mycket som möjligt(Viktigt!!!) fast lämna ändå lite vitt till höger om all kursnamnet och tiderna</li>
                <li>Beskär bilden från vänser så att ungefär hälften av tiderna kapas</li>
                <li>Beskär bilden nerifrån så att du får med den senaste kursen</li>
            </ul>
            <br>
                Om du inte förstår är det du som är knäpp det är INTE JAG SOM ÄR DÅLIG PÅ ATT FÖRKLARA!!!! För det är jag, slut diskuterat. 
            <br><br>
            Här kommer en bild ifall att du inte förstod mina gudomliga anvisningar
        </p>
    </div>
    <div class="col-xs-12">
        <img width="100%" src="{{url_for('static', filename='images/explanation_of_cropping.png')}}">
    </div>
    <!---<img width="100%" src="{{url_for('static', filename='images/bad_example.png')}}">--->
{% endblock %}