{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block content %}
    {% if current_user.is_authenticated %}
        <div class="container-fluid">
            <p> you are logged in as {{ current_user.email }}</p>
        </div>

        <style>
            .no-y {
                padding-top: 0px !important;
                padding-bottom: 0px !important;
                margin-top: 0px !important;
                margin-bottom: 0px !important;
                vertical-align: middle !important;
            }
        </style>
        
        <div id="common_times_div" style="overflow-y: hidden; overflow-x: auto; width: auto; margin-bottom: 10px">
        </div>
        <button class="btn" onclick="deselect_all()">Avmarkera alla</button>
        {% if followed_users %}
            <div class="container">
                <div class="row">
                    {% for key, value in followed_users.items() %}
                        <button id="schedule-button-{{key}}" type="button" onclick="toggle_user('{{key}}');" class="btn btn-warning col-xs-6">{{value.first_name}} {{value.last_name}}</button>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% else %}
        <div class="container">
            <h1 class="text-center">NGodar</h1>

            <p>Denna hemsida är för oss som tröttnat på Schoolsofts härliga sätt att visa scheman på...</p>
            <div class="text-center">
                <blockquote class="text-info text-center">Logga in tusen gånger, se ditt schema en gång! Just ja, hoppas att det inte gör något att y-axeln är allt annat än proportionerlig <br><span class="text-info">--Schoolsoft</span></blockquote>
            </div>

            <p>De som tänkt längre än jag tar såklart skärmdumpar på sina scheman...<br>För att göra denna hemsida någorlunda användbar har jag lagt till några fler funktioner: </p>
            <ul>
                <li>Se vilka vänner som är lediga/har rast samtidigt som du</li>
                <li>Se dina vänners schema genom att helt enkelt söka</li>
            </ul>
            <p>För att överföra ditt schema hit använder jag <b>PROGRAMMERING</b> och <b><a href="https://www.opencv.org">SVART MAGI</a></b> (O_o)</p>
            <p>Vad väntar du på?</p>
            <h3 class="text-center"><a href="{{url_for('signup')}}">Kom igång nU!!!</a></h3>
        </div>
    {% endif %}
    
{% endblock %}

{% block scripts%}
{% if current_user.is_authenticated %}
    <script id="passed-data" type="text/javascript">
        let loaded_schedules = {
            {% if preloaded_schedules %}
                {% for key, value in preloaded_schedules.items() %}
                    "{{ key }}" : { 
                        "first_name" : "{{value.first_name}}", 
                        "last_name": "{{ value.last_name }}",
                        "times": [
                            {% for time in value.times %}
                            [{{ time[0] }}, {{ time[1] }}],
                            {% endfor %}
                        ],
                        "begins": {{ value.begins }},
                        "ends" : {{ value.ends }}                    
                    },
                {% endfor %}
            {% endif %}
        }

        let loaded_users = {
            {% if followed_users%}
                {% for key, value in followed_users.items() %}
                "{{ key }}": {
                    "level": "{{ value.level}}"
                }, 
                {% endfor %}
            {% endif %}
        } 
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/utilities.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/scheduleTable.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/index.js')}}"></script>
{% endif %}
{% endblock %}
