{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <form class="form">
        <div class="form-group">
            <label for="visa-vecka">Vecka: </label>
            <select name="visa-vecka" onchange="show_week(this.value)" id="week-select" class="form-control input">
                <option value="-1">Standard schema</option>
                {% for i in range(1,53) %}
                    <option>{{i}}</option>
                {% endfor %}
            </select>
        </div>
    </form>
</div>

<div class="container">
    <div class="row">
        <form class="form" action="{{url_for('uploadSchedule')}}" method="GET">
            <input type="number" name="week" value="-1" id="form-redirect-value" hidden>
            <input type="submit" class="form-control" value="Ändra visad veckas schema">
        </form>
    </div>
</div>

<div id="schedule-table-div" class="schedule-container">
</div>


{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/utilities.js')}}"></script>
    <script type="text/javascript" id="passed_data">
        let user_public_id = "{{current_user.public_id}}";
        let selected_week = {{ selected_week }};
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/scheduleTable.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/my-schedule.js')}}?2"></script>
{% endblock %}
