{% extends 'base.html' %}


{% block head %}
<style>
    .form-upper{
        border: 2px dotted orange;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    
    <div class="row" style="margin-bottom: 2rem;" id="parse-form-row">    
        <div class="row">
            <h4 class="col-xs-12 text-center">Tolka en skärmdump</h4>
            <h1><span class="text-danger">VIKTIGT!!</span> Tryck <a href="{{url_for('guide_upload_schedule')}}">här</a> om du inte gjort detta tidigare</h1>
        </div>
        
        <form method="post" enctype="multipart/form-data" id="parse-form">
            <div class="row">
                <label for="image" class="col-form-label col-xs-6">Ladda upp en bild på ditt schema:</label>
                <div class="col-xs-6">
                    <input type="file" id="image" name="image" class="form-control-file col-xs-12" accept="image/*">
                </div>
            </div>
            <div class="row">
                <input type="submit" class="form-control col-xs-12" value="Tolka bilden!">
            </div>
        </form>
    </div>

    <div class="row" id="loading-row" style="display: none;">
        <p class="col-xs-8" style="font-size: 20px; vertical-align: middle;">Din bild behandlas. Detta kan ta flera minuter</p>
        <div class="col-xs-4" style="text-align: center;">
            <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
        </div>
    </div>
</div>

<div class="container" id="result-block">
    <div class="row">
        <h4 class="col-xs-12 text-center">Ändra schemat</h4>
        <button onclick="submit_schedule()" class="col-xs-12 btn btn-primary">Spara ändringar</button>
    </div>

    {% with days = ["Måndag", "Tisdag", "Onsdag", "Torsdag", "Fredag"]%}    
        {% for i in range(5)%}
            <div id="result-day-{{i}}">
                <div class="row">
                    <h1 class="col-xs-12">{{days[i]}}</h1>
                    <button onclick="add_course_field('{{i}}')" class="col-xs-12 btn btn-info">Lägg till klass</button>
                </div>
                <div class="weekday-results">
                </div>
            </div>
        {% endfor %}
    {% endwith %}
</div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript" id="passed_data">
        let user_public_id = "{{current_user.public_id}}";
        let selected_week = {{ selected_week }};
    </script>

    <script type="text/javascript" src="{{url_for('static', filename='javascript/utilities.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='javascript/upload-schedule.js')}}"></script>
{% endblock %}