{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <h1 class="col-xs-12">Välkommen!</h1>
            <p class="col-xs-12">På denna hemsida kan man se sitt eget och andras scheman. För att detta ska vara möjligt måste alla ladda upp sina scheman. Det gör du genom att gå till
                "<a href="{{url_for('my_schedule')}}">Mitt schema</a>", välja ett schema (börja med att ställa in ett <b>standard schema</b>) och sedan trycka "Ändra visad veckas schema".
            </p>
        </div>
    </div>
{% endblock %}